<h1>Ideas Index page</h1>
<br>
<hr>

<% @ideas.each do |idea|%>
    <div>
     <h2> <%= link_to idea.title, idea_path(idea)%> </h2>
    </div>

    <div>
     <h4> <%= idea.description %> </h4>
    </div>

    <a href="/">By: <%= idea.user.name %></a>


    <hr>
<% end %>
